.main {
    width: min(100%, 768px);
    background-color: #282828;
    padding: 16px;
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 16px;
}

.main button, .main a[button] {
    background-color: #0060c0;
    padding: 8px 16px;
    border-radius: 99999px;

    &:hover {
        position: relative;
        background-color: #0070d8;
    }
    &:active {
        background-color: #0080f0;
    }
}