.main {
  width: min(100%, 768px);
  background-color: #282828;
  padding: 16px;
  border-radius: 16px;
  position: relative;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 16px;
}

.main img {
  width: 4rem;
  float: right;
  position: absolute;
  right: 16px;
  border: solid 2px #606060;
  border-radius: 99999px;
}

.main h1 span {
  font-size: .8rem;
  font-weight: 500;
}

.main button, .main a[button] {
  background-color: #0060c0;
  padding: .5rem 1rem;
  border-radius: 99999px;
  position: relative;
  &:hover { background-color: #0070d8 }
  &:active { background-color: #0080f0 }
  &:focus-visible {
    outline: solid 2px #0080f0;
    outline-offset: 2px;
  }
}

.main button.style2 {
  background-color: #ffffff20;
  &:hover { background-color: #ffffff30 }
  &:active { background-color: #ffffff40 }
  & .effects {
    transition: border .2s linear;
    border: 1px solid #fff;
    opacity: 0;
  }
  &.active .effects {
    opacity: .2;
  }
}

.main .swiper {
  width: 100%;
  background-color: #000;
  border-radius: 24px;
  aspect-ratio: 1.5;
  padding: 8px;
}

.main .swiper-wrapper {
  background-color: #000;
  aspect-ratio: inherit;
}

.main .swiper .swiper-slide {
  background-color: #202020;
  background-size: cover;
  border-radius: 16px;
  user-select: none;
  aspect-ratio: inherit;

  transition: clip-path .3s var(--timing);
  clip-path: polygon(0 0, calc(100% - 64px) 0, 100% 64px, 100% 100%, 64px 100%, 0 calc(100% - 64px));
  &:active { clip-path: polygon(0 0, 100% 0, 100% 0, 100% 100%, 0 100%, 0 100%) }
}

.main .swiper .swiper-slide-prev {
  margin: 0;
}

.main .mclarenlogo {
  width: 32px;
  aspect-ratio: 1;
  background-color: #ff8000;
  margin-left: auto;
  clip-path: polygon(52% 76%, 75% 60%, 96% 39%, 100% 30%, 97% 24%, 85% 20%, 68% 22%, 44% 29%, 23% 37%, 0 50%, 19% 46%, 36% 43%, 51% 44%, 60% 51%, 60% 63%);
}