button, a[button] {
  background-color: #ffffff20;
  padding: 0 1rem;
  height: calc(2rem + 3px);
  border-radius: 99999px;
  position: relative;
  vertical-align: middle;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: .25rem;

  &:hover { background-color: #ffffff30 }
  &:active { background-color: #ffffff40 }
  & .effects {
    border: 1px solid #fff;
    opacity: 0;
    transition: opacity .5s ease-out;
  }
  &.active .effects {
    opacity: .2;
    transition: none;
  }
}

button.circle, a[button].circle {
  aspect-ratio: 1;
  padding: 0;
}

button.toggle.on, a[button].toggle.on {
  background-color: #e8e8e8;
  color: #282828;
}